body {
     margin: 0;
   height: 100%;
    background-color: lightpink;
   
}
.header {
    padding: 0px 0;
    background-color: #ffffff;
}

.content-index {
    display: flex;
    justify-content: space-between;
}

.table {
    background-color: #b2beb5;
    border-radius: 15px;
}

.nav-link text-dark {
    color: pink;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    border: 0px solid green;
    width: 180%;
}
.form-group {
    display: flex;
    justify-content: flex-start;
}

label {
    padding: 12px 12px 0px 0;
    display: inline-block;
}
.text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
}
.button-content {
    display: flex;
    margin-bottom: 30px;
    Justify-content: space-between;
    margin-top: 15px;
}
.changePosition{
   /* margin-inline-end:auto;*/
    margin-right:380px;
    position:center;
}
.changePosition2{
   float:left;
   position:initial;
}
form-content {
    /*min-height: calc(100%-80px);
    background-color: #80ffdf;
    display: flex;
    margin-bottom: 50px;
   justify-content: center;
    align-items: center;
    border: 0px solid green;*/
    /*text-align:center;
    display:block;*/
}
.control-label {
    width: 150px;
    
    /* font-weight: 400;
    font-size: large;*/
}
.row {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: calc(100%-80px);
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 80%;
    margin: auto;
}
.clone{
    text-align:center;
}
.profile-radio-content profile-control{
    margin-left:10px;
}
.texter {
    font-size: 15px;
    /*margin-left: -40px;*/
}
.profile-control{
    margin-left:-40px;
}
.ok {
    margin-left: -40px;
}
.newfont{
    text-align:center;
}
/*.img1{
    margin-bottom:10px;
    padding-bottom:10px;
}*/
.adjust{
    justify-content:center;
}
.logopart{
    display:flex;

}
.logopart h5 {
    font-size: 16px;
    padding-left: 5px;
    
}